Django==4.2.7
djangorestframework==3.14.0
celery[redis]==5.3.4
redis>=4.5.2,<5.0.0
zeep==4.2.1
cryptography>=41.0.0
gunicorn==21.2.0
whitenoise==6.6.0
djangorestframework-simplejwt==5.3.0
drf-spectacular==0.26.5
psycopg2-binary==2.9.9
python-decouple==3.8
django-cors-headers==4.3.1
Pillow==10.1.0
pytz==2023.3
reportlab==4.0.7
openpyxl==3.1.2
mercadopago==2.2.0